import React from 'react';

import primaryLocalImg from '../../images/compress/{{componentName}}.jpg';

const {{componentName}} = () => {
  return (
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <img class="w-10 h-10 rounded-full" src={primaryLocalImg} alt="{{title}}" />
            <div class="pl-3">
                <div class="text-base font-semibold">{{title}}</div>
            </div>  
        </th>
        <td class="px-6 py-4">
            {{year}}
        </td>
        <td class="px-6 py-4">
            {{country}}
        </td>
        <td class="px-6 py-4">
            {{city}}
        </td>
        <td class="px-6 py-4">
            {{countPhotos}}
        </td>
        <td class="px-6 py-4">
            <a href="{{url}}" type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Flickr</a>
        </td>
    </tr>
  );
};

export default {{componentName}};