import React from 'react';

{{#events}}
import {{.}} from '../{{.}}';
{{/events}}

const SectionEvents = () => {
  return (
    <div id="events" class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Event name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Year
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                    <th scope="col" class="px-6 py-3">
                        City
                    </th>
                    <th scope="col" class="px-6 py-3">
                        # Photos
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Flickr gallery link
                    </th>
                </tr>
            </thead>
            <tbody>
              {{#events}}
              <{{.}} />
              {{/events}}
            </tbody>
        </table>
      </div>
  );
};

export default SectionEvents;
